SECRET_KEY="a5e3f8d7e1a2c9b846c3f7db0e5d4a77be845f1ce2f3a9bd5f3d9f8d4c5e7b2d"
OPENAI_TOKEN ="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"